<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .nav {
            display: flex;
            gap: 10px;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .search-button {
            color: red;
            height: 2em;
            width: 10em;
        }
    </style>
</head>
<body>

<ul class="nav">
    <li><a href="{% url 'index' %}">Index</a></li>
    <li><a href="{% url 'create todo view' %}">Create todo</a></li>
</ul>

{% block content %}
{% endblock %}
</body>
</html>