{% load static %}


<head>
    <link rel="stylesheet" href="{% static 'allmemberspage.css' %}">
    <title></title>
</head>

<body>
    <h1 style="color: darkblue">Members in the Petroliciouso Racing Club</h1>
    <hr>
    <p>Currently, we have {{ count_members }} members!</p>
    <h2>First and last name:</h2>
    <h5 style="color: darkslateblue">Click on the name for more information.</h5>
    <ol>
        {% for member in my_members %}
            <li> <a href="details/{{ member.id }}">{{ member.first_name}} {{ member.last_name }}</a></li>
        {% empty %}
            <p>There are no members to display.</p>
        {% endfor %}
    </ol>

    <h3><a href="/">Home</a></h3>
    {% include "partials/footer.html" %}
    <hr>
    <img height=199 width=400 src="{% static 'images/members.jpg' %}" alt="Members picture">
</body>